<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/OIP.AYa3BpPVtRzvGjlE0rIK1AHaE7?w=237&h=180&c=7&r=0&o=7&cb=ucfimg2&pid=1.7&rm=3&ucfimg=1"
    alt=""
    height="200px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">titulo da materia</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      lore ipsum dolor sit amet, consectetur adipiscing elit.
      lore ipsum dolor sit amet, consectetur adipiscing elit.
      lore ipsum dolor sit amet, consectetur adipiscing elit.
      </a>
    </p>
  </div>
</div>
