.nav {
  position: relative;
  width: 400px;
  height: 60px;
  border-radius: 40px;
  margin: 24px auto;
}

.container {
  position: absolute;
  inset: 0;
  background: rgba(16, 16, 16, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  z-index: 1;
}

.outline {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.rect {
  stroke-dashoffset: 5;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s;
  stroke: #e4ae0b;
}

.container:hover .outline .rect {
  transition: 999999s;
  stroke-dashoffset: 1;
  stroke-dasharray: 0;
}

.btn {
  padding: 0.5em 1.5em;
  cursor: pointer;
  transition: 0.1s;
  color: #ffffff;
}

.btn a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.btn:hover {
  background: #e4ae0b;
  border-radius: 10px;
}

.btn:nth-child(1):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 5 10 60 10 15;
}

.btn:nth-child(2):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 20 10 40 10 30;
}

.btn:nth-child(3):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 35 10 20 10 55;
}

.btn:hover ~ .outline .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s !important;
}
